<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.f5.stockmeister" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="StockMeister"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="StockMeister"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreatePortfolio"
            android:label="@string/title_activity_create_portfolio"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".portfolio_detail"
            android:label="@string/title_activity_portfolio_detail"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".stock_detail"
            android:label="@string/title_activity_stock_detail"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
